body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #1a1a1a;
	color: #fff;
  }
  
  .container {
	text-align: center;
	padding: 20px;
  }

  .card h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
  }
  
  input[type="text"] {
	width: 80%;
	max-width: 500px;
	padding: 10px;
	border: 1px solid #555;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #333;
	color: #fff;
  }
  
  .card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding: 20px;
  }
  
  .card {
	background-color: #262626;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
  }
  
  h1 {
	font-size: 2.5em;
	color: #8ebd22;
	margin-bottom: 20px;
  }

  .card p {
	font-size: 1.5em;
	margin-bottom: 10px;
  }
  
  .status1 {
	color: #22ff00;
	font-weight: normal;
  }
  
  .status2 {
	color: #f20707;
	font-weight: normal;
  }

 .status3 {
       color: #fff700;
       font-weight: normal;
  }

  .btn {
	padding: 10px 20px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
  }
  
  .btn.download {
	background-color: #8ebd22;
	color: #fff;
  }

 .btn.Videos {
	background-color: #8ebd22;
	color: #fff;
  }  
  
  .btn.update {
	background-color: #555;
	color: #fff;
  }
  
  .btn:hover {
	opacity: 0.9;
  }
  
